<launch>

	<!-- INPUT ARGUMENT OF THE COORDINATOR's ID -->
	<arg name="coordID" default="$(optenv DFALL_DEFAULT_COORD_ID)" />

	<!-- INPUT ARGUMENT FOR LAUNCHING A GUI OR NOT -->
	<arg name="withGUI" default="true" />

	<!-- Example of how to use the value in coordID -->
	<!-- <param name="param" value="$(arg coordID)"/> -->

	<!-- Example of how to specify the coordID from command line -->
	<!-- roslaunch d_fall_pps coordID:=001 -->

	<group ns="coord$(arg coordID)">

		<!-- COORDINATOR GUI -->
		<group if="$(arg withGUI)">
			<node
				pkg="d_fall_pps"
				name="flyingAgentGUI"
				output="screen"
				type="flyingAgentGUI"
				>
				<param name="type"     type="str"  value="coordinator" />
				<param name="coordID"  value="$(arg coordID)" />
			</node>
		</group>


		<!-- PARAMETER SERVICE -->
		<node
			pkg    = "d_fall_pps"
			name   = "ParameterService"
			output = "screen"
			type   = "ParameterService"
			>
			<param name="type"     type="str"  value="coordinator" />
			<param name="coordID"  value="$(arg coordID)" />
			<rosparam
				command = "load"
				file    = "$(find d_fall_pps)/param/BatteryMonitor.yaml"
				ns      = "YamlFileNames"
			/>
			<rosparam
				command = "load"
				file    = "$(find d_fall_pps)/param/ClientConfig.yaml"
				ns      = "SafeController"
			/>
		</node>

	</group>

</launch>
