<launch>

	<!-- CENTRAL MANAGER -->
	<node
		pkg="d_fall_pps"
		name="CentralManagerService"
		output="screen"
		type="CentralManagerService"
		>
	</node>

	<!-- VICON DATA PUBLISHER -->
	<node
		pkg="d_fall_pps"
		name="ViconDataPublisher"
		output="screen"
		type="ViconDataPublisher"
		>
		<rosparam command="load" file="$(find d_fall_pps)/param/ViconConfig.yaml" />
	</node>

	<!-- TEACHER GUI -->
	<node
		pkg="d_fall_pps"
		name="my_GUI"
		output="screen"
		type="my_GUI"
		>
	</node>

</launch>
