dfall_ws/build/
dfall_ws/devel/

dfall_ws/src/dfall_pkg/lib/vicon/
dfall_ws/src/dfall_pkg/include/DataStreamClient.h

# Qt Project files with user preferences
*.pro.user
*.pro.user.*

*.pyc
*.orig
*.bag

TAGS
build-*
Crazyflie.db

# For LaTeX files in the wiki
wiki/latex/*
!wiki/latex/*.tex
